@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer base {
  a {
    @apply cursor-pointer;
  }

  h2 {
    font-size: 24px;
  }

  input:checked+div {
    @apply border-blue-500;
    @apply bg-checkbox-bg;
  }

  input:checked+div svg {
    @apply block;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* scroll styles */
html:not(.touch-screen)::-webkit-scrollbar,
html:not(.touch-screen) *::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

html:not(.touch-screen)::-webkit-scrollbar-track,
html:not(.touch-screen) *::-webkit-scrollbar-track {
  background: #f5f5f5;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb,
html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 5px;
}

.modal-overlay {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

/* switch styles */
.switch {
  position: relative;
}

.switch-check:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  box-shadow: 0px 1px 2px -1px rgba(16, 24, 40, 0.1),
    0px 1px 3px rgba(16, 24, 40, 0.1);
  border-radius: 15px;
  transition: all 0.2s ease-in;
}

input:checked+.switch-check {
  background: #2b71f7;
}

input:checked+.switch-check:after {
  left: 15px;
}

/* form select style */
.css-1u9des2-indicatorSeparator {
  display: none;
}

.custom-invite .select-custom {
  position: absolute;
  right: 70px;
  top: 0;
}

.custom-invite .css-t3ipsp-control,
.custom-invite .css-13cymwt-control {
  border: 0 !important;
  height: 40px;
  border-radius: 0 !important;
  background-color: transparent;
  box-shadow: 0 0 0 !important;
  padding: 0 16px 0 8px;
  min-width: 120px;
  max-width: 140px;
}

.custom-invite .select-custom .css-15lsz6c-indicatorContainer,
.custom-invite .select-custom .css-1xc3v61-indicatorContainer {
  color: #606266;
  padding: 0;
  margin-left: 4px;
}

.custom-invite .select-custom .css-qbdosj-Input {
  height: 40px;
  padding: 0;
  margin: 0;
}

.custom-invite .css-13cymwt-control div:nth-child(1),
.custom-invite .css-t3ipsp-control div:nth-child(1) {
  padding: 0;
}

.select-custom>div>div:nth-child(2)>div {
  color: #242428;
}

.select-custom>div:nth-child(3)>div:nth-child(1) {
  padding-left: 16px !important;
}

.select-custom input {
  color: #242428 !important;
}

.select-custom #react-select-3-listbox>div:nth-child(1)>* {
  padding-left: 16px !important;
}

.select-custom>div {
  min-height: 100%;
}

/* EmojiPickerReact  */
.customEmojiPicker .EmojiPickerReact.epr-main {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.customEmojiPicker .EmojiPickerReact .epr-header-overlay {
  padding: 0 !important;
  margin-bottom: 24px;
}

.customEmojiPicker .epr-emoji-variation-picker,
.customEmojiPicker .EmojiPickerReact .epr-emoji-category-label,
.customEmojiPicker .EmojiPickerReact .epr-category-nav {
  display: none !important;
}

.customEmojiPicker .EmojiPickerReact .epr-emoji-category-content {
  margin: 0 !important;
}

.customEmojiPicker .EmojiPickerReact .epr-search-container input.epr-search {
  background-color: #fff !important;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding-left: 34px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #606266;
}

/* sidebar */
.sidebar-item:hover .options {
  opacity: 1;
  visibility: visible;
}

.sidebar:hover .sideToggle {
  opacity: 1;
  visibility: visible;
}

.overflow-visible.swiper-horizontal {
  overflow: visible;
}

.testimonial-swiper .swiper-slide:nth-child(2n)>div {
  transform: rotate(3deg);
}

.testimonial-swiper .swiper-slide:nth-child(2n) .quote {
  background-color: #ff2b80;
}

.testimonial-swiper .swiper-slide:nth-child(3n + 3) .quote {
  background-color: #fbcb33;
}

.testimonial-swiper .swiper-pagination {
  position: relative;
  top: 0;
  margin-top: 45px;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #e5e5e5;
  width: 12px;
  height: 12px;
  opacity: 1;
  box-shadow: 0 0 0 0px rgba(43, 113, 247, 0.2);
  transition: all 0.3s;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #2b71f7;
  box-shadow: 0 0 0 3px rgba(43, 113, 247, 0.2);
}

@media screen and (max-width: 650px) {
  .testimonial-swiper .swiper-pagination {
    margin-top: 28px;
  }

  .testimonial-swiper .swiper-slide:nth-child(2n)>div {
    transform: rotate(1.5deg);
  }
}

.nsm7Bb-HzV7m-LgbsSe {
  width: 100%;
  border: none !important;
}

.scroll-visible::-webkit-scrollbar-thumb {
  display: none;
}

.scroll-visible::-webkit-scrollbar-track {
  display: none;
}

.ph-item::before {
  animation-duration: 1500ms;
}

.ph-item {
  border-radius: 8px;
}

.ph-picture {
  height: 180px;
}

ul .editor-listitem {
  list-style: disc;
}

ol .editor-listitem {
  list-style: decimal;
}

.react-date-picker__calendar-button__icon,
.react-date-picker__clear-button__icon {
  display: none;
}

.react-date-picker__inputGroup__input {
  outline: none;
}

.react-date-picker__wrapper {
  height: 20px !important;
}

.react-date-picker {
  height: max-content !important;
}

.tags-scroll::-webkit-scrollbar {
  display: none;
}